<table border="1">
	<tr>
		<td> Payer </td>
		<td> Amount </td>
		<td> Memo </td>
        <td> Time </td>
	</tr>
    {% for rcd in rcdlist %}
    <tr>
    {% if rcd.is_valid %}
    <td>{{ rcd.name }}</td>
    <td>{{ rcd.amount }}</td>
    <td>{{ rcd.memo }}</td>
    <td>{{ rcd.start_time }}</td>
    {% else %}
    <font color="gray">
    <td>{{ rcd.name }}</td>
    <td>{{ rcd.amount }}</td>
    <td>{{ rcd.memo }}</td>
    <td>{{ rcd.start_time }}</td>
    </font>
    {% endif %}
    {% endfor %}
</table>
